<footer class="app-footer">
  <div class="footer-left">
    <p>Tous droits réservés à la Douane Tunisienne, 2018</p>
  </div>

  <div class="footer-right">
      <a href="https://twitter.com/DouaneTunisie" class="footer-link">
            <i class="fab fa-facebook fa-2x" style="color: blue;"> 
            </i>
      </a>
      <a href="https://www.facebook.com/douane.tunisie/" class="footer-link">
    <i class="fab fa-twitter fa-2x" style="color: #1DA1F2;">
    </i>
      </a>
    
      <a href="https://www.youtube.com/channel/UCnaeFNIErTt_coPSykdnCWg/featured">
<i class="fab fa-youtube fa-2x" style="color: #ff0b0b;"></i>
      </a>

    

    <a href="#" class="footer-link">License</a>
    <a href="#" class="footer-link">Help</a>
    <a href="#" class="footer-link">Contact</a>
    <a href="#" class="footer-link">Policy</a>
  </div>
</footer>
