.mesure-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 10%;
  max-width: 600px;
  margin: auto;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px #0000001a;
}

.full-width {
  width: 90%;
}

.half-width {
  width: 40%;
}

.mesure-form .mat-form-field {
  font-size: 13px;
}
