<app-navbar></app-navbar>
<div class="container">
 
 <app-sidebar 
    (chapitreSelected)="onChapitreSelected($event)"
    class="sidebar">
  </app-sidebar>
  
  <div class="main-content">
<div class="dropdown">
  <button class="dropdown-toggle">+</button>
  <div class="dropdown-menu">
    <button (click)="openAddFile()">Importer un fichier</button>
    <button (click)="openAddManually()">Ajouter manuellement</button>
  </div>
</div>

<div *ngIf="uploadMessage" class="upload-notification">
  ✅ {{ uploadMessage }}
</div>
    <div *ngIf="selectedChapitre">
<h2 class="hierarchy-title">
  Hiérarchie pour : <span class="chapter-name">{{ selectedChapitre.libelleChapitre }}</span>
</h2>
      <div *ngFor="let position of selectedChapitre.positions" class="hierarchy-container">
        <div class="hierarchy-item" (click)="togglePosition(position.idPosition)" [class.selected]="state.expandedPositionId === position.idPosition">
          <span class="toggle-icon">{{ state.expandedPositionId === position.idPosition ?'🗁':'🗀'   }}</span>
          {{ position.codePosition }} - {{ position.libellePosition }}
        </div>
        <div *ngIf="state.expandedPositionId === position.idPosition">
          <div *ngFor="let sousPosition of position.sousPositions" class="hierarchy-item sous-position">
            <div (click)="toggleSousPosition(sousPosition.idSousPosition)" [class.selected]="state.expandedSousPositionId === sousPosition.idSousPosition">
              <span class="toggle-icon">{{ state.expandedSousPositionId === sousPosition.idSousPosition ? '🗁':'🗀'   }}</span>
              {{ sousPosition.codeSousPosition }} - {{ sousPosition.libelleSousPosition }}
            </div>
            <div *ngIf="state.expandedSousPositionId === sousPosition.idSousPosition">
              <div *ngFor="let nc of sousPosition.nomenclatureCombinees" class="hierarchy-item nc">
                <div (click)="toggleNc(nc.idNCombinee)" [class.selected]="state.expandedNcId === nc.idNCombinee">
                  <span class="toggle-icon">{{ state.expandedNcId === nc.idNCombinee ? '🗁':'🗀'   }}</span>
                  {{ nc.codeNCombinee }}
                </div>
                <div *ngIf="state.expandedNcId === nc.idNCombinee">
                  <div *ngFor="let taric of nc.nomenclatures" class="hierarchy-item taric" (click)="openInfoDialog(taric)" >
                    {{ taric.codeNomenclature }} 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!selectedChapitre" class="placeholder">
      <p>Sélectionnez un chapitre pour afficher la hiérarchie complète</p>
    </div>
  </div>
  
</div>