<div class="container">
  <!-- Sidebar à gauche (1/4) -->
  <app-sidebar 
    (chapitreSelected)="onChapitreSelected($event)"
    class="sidebar">
  </app-sidebar>
  
  <!-- Contenu principal à droite (3/4) -->
  <div class="main-content">
    <button  (click)="openAddFile()"> addfILES</button>
    <div *ngIf="selectedChapitre">
      <h2>Hiérarchie pour: {{ selectedChapitre.libelleChapitre }}</h2>
      <div *ngFor="let position of selectedChapitre.positions" class="hierarchy-container">
        <div class="hierarchy-item" (click)="togglePosition(position.idPosition)" [class.selected]="state.expandedPositionId === position.idPosition">
          <span class="toggle-icon">{{ state.expandedPositionId === position.idPosition ?'🗁':'🗀'   }}</span>
          {{ position.codePosition }} - {{ position.libellePosition }}
        </div>
        <div *ngIf="state.expandedPositionId === position.idPosition">
          <div *ngFor="let sousPosition of position.sousPositions" class="hierarchy-item sous-position">
            <div (click)="toggleSousPosition(sousPosition.idSousPosition)" [class.selected]="state.expandedSousPositionId === sousPosition.idSousPosition">
              <span class="toggle-icon">{{ state.expandedSousPositionId === sousPosition.idSousPosition ? '🗁':'🗀'   }}</span>
              {{ sousPosition.codeSousPosition }} - {{ sousPosition.libelleSousPosition }}
            </div>
            <div *ngIf="state.expandedSousPositionId === sousPosition.idSousPosition">
              <div *ngFor="let nc of sousPosition.nomenclatureCombinees" class="hierarchy-item nc">
                <div (click)="toggleNc(nc.idNCombinee)" [class.selected]="state.expandedNcId === nc.idNCombinee">
                  <span class="toggle-icon">{{ state.expandedNcId === nc.idNCombinee ? '🗁':'🗀'   }}</span>
                  {{ nc.codeNCombinee }}
                </div>
                <div *ngIf="state.expandedNcId === nc.idNCombinee">
                  <div *ngFor="let taric of nc.nomenclatures" class="hierarchy-item taric" (click)="openInfoDialog(taric)" >
                    {{ taric.codeNomenclature }} 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!selectedChapitre" class="placeholder">
      <p>Sélectionnez un chapitre pour afficher la hiérarchie complète</p>
    </div>
  </div>
</div>