<!-- popup.component.html -->
<h2 mat-dialog-title>{{ data.tiitre }}</h2>

<mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>{{ data.codeLabel }}</mat-label>
    <input matInput [value]="data.code" [disabled]="data.disableCode">
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>{{ data.libelleLabel }}</mat-label>
    <input matInput [(ngModel)]="data.libelle">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions alig="end">
  <button mat-button (click)="onClose()">Annuler</button>
  <button mat-button color="primary" (click)="onSubmit()">Valider</button>
  
</mat-dialog-actions>
