<nav class="navbar">
  <div class="container">
    <div class="navbar-start">
      

      <div class="mobile-actions">
        <button class="menu-toggle" aria-label="Toggle navigation">
          <span class="menu-icon"></span>
          <span class="close-icon"></span>
        </button>
      </div>
    </div>
    
    <div class="navbar-center">
      <div class="nav-links">
        <a >Home</a>
        <a >Products</a>
       
        <a >About Us</a>
        <a  (click)="logout()" >Logout</a>
           <div class="navbar-end">
      <span class="search-icon"></span>
    </div>
      </div>
    </div>
    
   
  </div>
</nav>
<app-home></app-home>
