<div class = "login-container">

    <h3>Login</h3>


    <app-text-field
    label="username"
    type="text"
    placeholder="Enter your username"
    [(value)]="authRequest.username"
    [error]="errorMessage"
    
    
    ></app-text-field>



    <app-text-field
    label="password"
    type="password"
    placeholder="Enter your password"
    [(value)]="authRequest.password"
    [error]="errorMessage"
    
    
    ></app-text-field>


    <button (click)="onLogin()" >Login</button>




</div>