<app-navbar></app-navbar>
<div class="taric-details-container">
  <h2>🔹 Détails Nomenclature</h2>

  <div class="card" >
    <p><strong>ID :</strong> {{ taric.idNomenclature }}</p>
    <p><strong>Code :</strong> {{ taric.codeNomenclature }}  - {{suffixMap[taric.idSuffix] }}</p>
    <p><strong>Date début validité :</strong> {{ taric.dateDebutValid }}</p>
    <p><strong>Date fin validité :</strong> {{ taric.dateFinValid }}</p>
  </div>

<div class="card">
    <div >
    <h3>📝 Descriptions</h3>
    <ul>
     <li >
 <mat-expansion-panel>
  <mat-expansion-panel-header [collapsedHeight]="'120px'" [expandedHeight]="'150px'">
    <ng-container *ngFor="let desc of taric.descriptions">
      <ng-container *ngIf="desc.status == '1'">
        <div style="display: flex; flex-direction: column; gap: 6px;">
          <p><strong>Description :</strong> {{ desc.description }}</p>
          <div style="display: flex; gap: 15px;">
            <p><strong>Status :</strong> Active</p>
            <p><strong>Date début :</strong> {{ desc.dateDebut }}</p>
            <p><strong>Date fin :</strong> {{ desc.dateFin }}</p>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <ng-container *ngFor="let desc of taric.descriptions">
      <ng-container *ngIf="desc.status != '1'">
        <hr>
        <p><strong>Description :</strong> {{ desc.description }}</p>
        <div style="display: flex; gap: 15px;">
          <p><strong>Status :</strong> Inactive</p>
          <p><strong>Date début :</strong> {{ desc.dateDebut }}</p>
          <p><strong>Date fin :</strong> {{ desc.dateFin }}</p>
        </div>
      </ng-container>
    </ng-container>
  </ng-template>
</mat-expansion-panel>


</li>

    </ul>
  </div>
</div>

  
    <div class="card">
    <h3>📏 Mesures</h3>
    
    <div *ngIf="!taric.mesures || taric.mesures.length === 0" class="no-measures">
      <p>Aucune mesure appliquée</p>
    </div>
    
    <div *ngIf="taric.mesures && taric.mesures.length > 0">
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'150px'" [expandedHeight]="'200px'">
          <ng-container *ngIf="getMesuresByStatus('APPROUVE').length > 0; else noApprouveHeader">
            <div style="display: flex; flex-direction: column; gap: 6px;">
              <h4>Mesures Approuvées ({{ getMesuresByStatus('APPROUVE').length }})</h4>
              <div *ngFor="let mesure of getMesuresByStatus('APPROUVE')">
                <p><strong>Code :</strong> {{ mesure.codeMesure }}</p>
                <div style="display: flex; gap: 15px;">
                  <p><strong>Date début :</strong> {{ mesure.dateDebut }}</p>
                  <p><strong>Date fin :</strong> {{ mesure.dateFin }}</p>
                  <p><strong>Numéro quota :</strong> {{ mesure.numeroQuota }}</p>
           
                </div>
              </div>
            </div>
          </ng-container>

          <ng-template #noApprouveHeader>
            <p>Aucune mesure approuvée</p>
          </ng-template>
        </mat-expansion-panel-header>
        <hr>
        <section>
          <h3>Mesures en attente ({{ getMesuresByStatus('EN_ATTENTE').length }})</h3>
          <ng-container *ngIf="getMesuresByStatus('EN_ATTENTE').length > 0; else noAttente">
            <div *ngFor="let mesure of getMesuresByStatus('EN_ATTENTE')" class="mesure">
              <p><strong>Code :</strong> {{ mesure.codeMesure }}</p>
              <p><strong>Date début :</strong> {{ mesure.dateDebut }}</p>
              <p><strong>Date fin :</strong> {{ mesure.dateFin }}</p>
              <p><strong>Numéro quota :</strong> {{ mesure.numeroQuota }}</p>
               <hr />

              <div class="sub-card" *ngIf="mesure.validations?.length">
                <h4>Validations</h4>
                <ul>
                  <li *ngFor="let val of mesure.validations">
                    <p><strong>ID :</strong> {{ val.idValidation }}</p>
                    <p><strong>Status :</strong> {{ statutMap[val.idStatus] }}</p>
                    <p><strong>Commentaire :</strong> {{ val?.commentaire }}</p>
                     <hr />
                  </li>
                </ul>
              </div>
            </div>
          </ng-container>
          <ng-template #noAttente>
            <p>Aucune mesure en attente</p>
          </ng-template>
        </section>
      </mat-expansion-panel>
    </div>
  </div>
  



<div class="card">
  <h3>🗒️ Notes</h3>
  <div *ngIf="taric.notes?.length; else noNotes">
    <ul class="notes-list">
      <li *ngFor="let note of taric.notes" class="note-item">
        <div class="note-content">
          <p>{{ note.contenu }}</p>
        </div>
        <div class="note-actions">
          <button mat-icon-button [matMenuTriggerFor]="noteMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #noteMenu="matMenu">
            <button mat-menu-item (click)="updateNote(note.idNote)">
              <mat-icon>edit</mat-icon>
              <span>Modifier</span>
            </button>
            <button mat-menu-item (click)="deleteNote(note.idNote)">
              <mat-icon>delete</mat-icon>
              <span>Supprimer</span>
            </button>
          </mat-menu>
        </div>
      </li>
    </ul>
  </div>
  <ng-template #noNotes>
    <p>Aucune note disponible</p>
    <button mat-button (click)="addNotes(taric.idNomenclature)">Ajouter</button>
  </ng-template>
</div>
