<form  [formGroup]="addForm"  class ='add-note-form'> 
   <h2 mat-dialog-title class="popip-tite">{{ data.titre }}</h2>

   <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ data.contenu }}</mat-label>
          <textarea matInput placeholder="Enter the note" formControlName="contenu" rows="3"></textarea>

   </mat-form-field>


   <mat-form-field appearance="fill" class="full-width">
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input [rangePicker]="picker" formGroupName="dateRange" >
     <input matStartDate placeholder="Start date"  formControlName="dateDebutValid">
    <input matEndDate placeholder="End date" formControlName="dateFinValid">
   
  </mat-date-range-input>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>

</mat-form-field>
    
  
   <mat-form-field appearance="fill" class="full-width">
    <mat-label>id {{""}}</mat-label>
    <input matInput [value]="data.idNomenclature" readonly>
    
   </mat-form-field>


    <mat-dialog-actions alig="end">
    <button mat-stroked-button color="warn" mat-button (click)="onClose()">Annuler</button>
    <button mat-button color="primary" (click)="onSubmit()">Valider</button>
  </mat-dialog-actions>
</form>
