/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* Styles globaux */
.min-h-screen {
  min-height: 100vh;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

/* Animation pour les icônes */
.icon {
  display: inline-block;
  vertical-align: middle;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.1);
}